software/Nodered/flows.json
[
    {
        "id": "c0d83d5b56c5e4a4",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3a6c4599e04b315a",
        "type": "comment",
        "z": "c0d83d5b56c5e4a4",
        "name": "Dashboard",
        "info": "",
        "x": 160,
        "y": 40,
        "wires": []
    },
    {
        "id": "b3a70b2f54a409e1",
        "type": "mqtt in",
        "z": "c0d83d5b56c5e4a4",
        "name": "",
        "topic": "II15/Sensors",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8fc82196e3fa113b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 960,
        "wires": [
            [
                "c7c6ed94528bf87f"
            ]
        ]
    },
    {
        "id": "653e1a3e46a1a6d3",
        "type": "mqtt in",
        "z": "c0d83d5b56c5e4a4",
        "name": "",
        "topic": "II15/Emergency",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8fc82196e3fa113b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 460,
        "wires": [
            [
                "fba2a1b48bfa3a33",
                "3dfa14d5d88dfb80"
            ]
        ]
    },
    {
        "id": "9448b3b8893cfcf7",
        "type": "mqtt in",
        "z": "c0d83d5b56c5e4a4",
        "name": "",
        "topic": "II15/Rovers",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8fc82196e3fa113b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 820,
        "wires": [
            [
                "5d08094cc6f56fce",
                "2fa8174d259d20fb"
            ]
        ]
    },
    {
        "id": "34ecc408b945a1ec",
        "type": "ui_worldmap",
        "z": "c0d83d5b56c5e4a4",
        "group": "d79fae3f4ed001ad",
        "order": 1,
        "width": "12",
        "height": "10",
        "name": "Map",
        "lat": "",
        "lon": "",
        "zoom": "",
        "layer": "OSMG",
        "cluster": "",
        "maxage": "",
        "usermenu": "hide",
        "layers": "hide",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "true",
        "coords": "none",
        "showgrid": "false",
        "showruler": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN,HM",
        "maplist": "OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 1370,
        "y": 940,
        "wires": []
    },
    {
        "id": "c76086b0ebe20510",
        "type": "function",
        "z": "c0d83d5b56c5e4a4",
        "name": "map_data",
        "func": "var query = msg.payload[0];\nmsg.payload = { \"name\": String(query._id), \"lat\": query.Latitude, \"lon\": query.Longitude, \"icon\": \"eyedropper\", \"iconColor\":\"#0000FF\",\"tooltip\": \"Sample taken\" }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 860,
        "wires": [
            [
                "34ecc408b945a1ec"
            ]
        ]
    },
    {
        "id": "32921e52246080cc",
        "type": "mqtt out",
        "z": "c0d83d5b56c5e4a4",
        "name": "",
        "topic": "II15/Rovers",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8fc82196e3fa113b",
        "x": 930,
        "y": 1380,
        "wires": []
    },
    {
        "id": "5274f74e5a66f298",
        "type": "function",
        "z": "c0d83d5b56c5e4a4",
        "name": "status_msg",
        "func": "var tiempo = new Date();\nvar timestamp = tiempo.getDate();\nmsg.payload = {\n    \"Sender\":\"User\",\n    \"RoverId\":\"Actuator\",\n    \"Latitude\":\"51.2\",\n    \"Longitude\":\"-1.35\",\n    \"Timestamp\": timestamp,\n    \"Status\":\"Task finished\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 1380,
        "wires": [
            [
                "32921e52246080cc"
            ]
        ]
    },
    {
        "id": "bf7bd12fada4dd84",
        "type": "inject",
        "z": "c0d83d5b56c5e4a4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 400,
        "y": 1380,
        "wires": [
            [
                "5274f74e5a66f298"
            ]
        ]
    },
    {
        "id": "42abf74e5a08674a",
        "type": "mongodb out",
        "z": "c0d83d5b56c5e4a4",
        "mongodb": "3752afa1.deaf9",
        "name": "",
        "collection": "Rovers",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 560,
        "y": 820,
        "wires": []
    },
    {
        "id": "0f4b74568deb7841",
        "type": "mongodb in",
        "z": "c0d83d5b56c5e4a4",
        "mongodb": "3752afa1.deaf9",
        "name": "",
        "collection": "Rovers",
        "operation": "find",
        "x": 780,
        "y": 860,
        "wires": [
            [
                "c76086b0ebe20510"
            ]
        ]
    },
    {
        "id": "af4d2afc3ab8a78f",
        "type": "mongodb in",
        "z": "c0d83d5b56c5e4a4",
        "mongodb": "3752afa1.deaf9",
        "name": "",
        "collection": "Sensors",
        "operation": "find",
        "x": 620,
        "y": 1020,
        "wires": [
            [
                "a179ac947f3439c0",
                "1cc8a83ddf39da73"
            ]
        ]
    },
    {
        "id": "30d73379570e3a72",
        "type": "function",
        "z": "c0d83d5b56c5e4a4",
        "name": "actuator_query",
        "func": "\n\n    msg.payload = { '$and': [{ \"RoverId\": \"Actuator\" }, { \"Status\": \"Task finished\" }] }\n    msg.limit = 1;\n    return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 860,
        "wires": [
            [
                "0f4b74568deb7841"
            ]
        ]
    },
    {
        "id": "98d4f3eca15b01f5",
        "type": "function",
        "z": "c0d83d5b56c5e4a4",
        "name": "sensor_query",
        "func": "var filterSensors = flow.get(\"applySensors\");\nvar timestamp = flow.get(\"sensorsDate\");\n// Create a new Date object\nvar date = new Date(timestamp);\n// Use date methods to get components like year, month, day, hours, etc.\nvar year = date.getFullYear();\nvar month = date.getMonth() + 1; // Months are zero-indexed, so we add 1\nvar day = date.getDate();\n//var hours = date.getHours();\n//var minutes = date.getMinutes();\n//var seconds = date.getSeconds();\n// Make a field \nmsg.Date = String(day) + \"/\" + String(month) + \"/\" + String(year);\n\n\nif(filterSensors)\n{\n    msg.payload = { $and: [{ \"RoverId\": \"Sensor\"},{\"Date\": msg.Date}]};\n    return msg;\n}\nif(msg.payload || !filterSensors){\n    msg.payload = { \"RoverId\": \"Sensor\"};\n    return msg;\n}\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1020,
        "wires": [
            [
                "af4d2afc3ab8a78f"
            ]
        ]
    },
    {
        "id": "ced3cd3cea02c595",
        "type": "mongodb in",
        "z": "c0d83d5b56c5e4a4",
        "mongodb": "3752afa1.deaf9",
        "name": "",
        "collection": "Rovers",
        "operation": "find",
        "x": 590,
        "y": 1720,
        "wires": [
            [
                "316259445f156164"
            ]
        ]
    },
    {
        "id": "4273b1d1790532ad",
        "type": "inject",
        "z": "c0d83d5b56c5e4a4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 390,
        "y": 1720,
        "wires": [
            [
                "ced3cd3cea02c595"
            ]
        ]
    },
    {
        "id": "316259445f156164",
        "type": "debug",
        "z": "c0d83d5b56c5e4a4",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 1720,
        "wires": []
    },
    {
        "id": "5d08094cc6f56fce",
        "type": "function",
        "z": "c0d83d5b56c5e4a4",
        "name": "adapt",
        "func": "msg = msg.payload;\nvar timestamp = msg.Timestamp;\n// Create a new Date object\nvar date = new Date(timestamp);\n// Use date methods to get components like year, month, day, hours, etc.\nvar year = date.getFullYear();\nvar month = date.getMonth() + 1; // Months are zero-indexed, so we add 1\nvar day = date.getDate();\nvar hours = date.getHours();\nvar minutes = date.getMinutes();\nvar seconds = date.getSeconds();\n\n\n// Make a field \nmsg.Date = String(day) + \"/\" + String(month) + \"/\" + String(year);// + \" at \" + String(hours) + \":\" + String(minutes) + \":\" + String(seconds);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 820,
        "wires": [
            [
                "42abf74e5a08674a"
            ]
        ]
    },
    {
        "id": "2fa8174d259d20fb",
        "type": "trigger",
        "z": "c0d83d5b56c5e4a4",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 340,
        "y": 860,
        "wires": [
            [
                "30d73379570e3a72"
            ]
        ]
    },
    {
        "id": "a179ac947f3439c0",
        "type": "function",
        "z": "c0d83d5b56c5e4a4",
        "name": "map_data",
        "func": "var query = msg.payload[0];\nvar tooltip = \"Altitude: \" + String(query.Altitude)+\"\\n\";\ntooltip += \"Temperature: \" + String(query.Temperature)+\"\\n\";\ntooltip +=    \"Humidity: \" + String(query.Humidity)+\"\\n\";\ntooltip +=    \"Pressure: \" + String(query.Sensor) + \"\\n\";\nmsg.payload = { \"name\": String(query._id), \"lat\": query.Latitude, \"lon\": query.Longitude, \"icon\": \"tachometer\", \"iconColor\":\"#FF0000\",\"tooltip\": tooltip }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 960,
        "wires": [
            [
                "34ecc408b945a1ec"
            ]
        ]
    },
    {
        "id": "ec3b307e11078dc1",
        "type": "mqtt out",
        "z": "c0d83d5b56c5e4a4",
        "name": "",
        "topic": "II15/Sensors",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8fc82196e3fa113b",
        "x": 930,
        "y": 1420,
        "wires": []
    },
    {
        "id": "e9befdbdac0545d4",
        "type": "function",
        "z": "c0d83d5b56c5e4a4",
        "name": "sensor_msg",
        "func": "var tiempo = new Date();\nvar timestamp = tiempo.getDate();\nmsg.payload = {\n    \"Sender\":\"User\",\n    \"RoverId\":\"Sensor\",\n    \"Timestamp\": timestamp,\n    \"Latitude\":\"57.2\",\n    \"Longitude\":\"-1.35\",\n    \"Altitude\":250,\n    \"Temperature\":\"21.8\",\n    \"Humidity\":\"45%\",\n    \"Pressure\": \"1024\",\n    \"Radiation\":\"0\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 1420,
        "wires": [
            [
                "ec3b307e11078dc1"
            ]
        ]
    },
    {
        "id": "519ffdb2e1b32762",
        "type": "inject",
        "z": "c0d83d5b56c5e4a4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 400,
        "y": 1420,
        "wires": [
            [
                "e9befdbdac0545d4"
            ]
        ]
    },
    {
        "id": "6d720441341ac798",
        "type": "mongodb out",
        "z": "c0d83d5b56c5e4a4",
        "mongodb": "3752afa1.deaf9",
        "name": "",
        "collection": "Rovers",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "delete",
        "x": 610,
        "y": 1540,
        "wires": []
    },
    {
        "id": "d90b00d5224bcd79",
        "type": "inject",
        "z": "c0d83d5b56c5e4a4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 390,
        "y": 1540,
        "wires": [
            [
                "6d720441341ac798"
            ]
        ]
    },
    {
        "id": "c7c6ed94528bf87f",
        "type": "function",
        "z": "c0d83d5b56c5e4a4",
        "name": "adapt",
        "func": "msg = msg.payload;\nvar timestamp = msg.Timestamp;\n// Create a new Date object\nvar date = new Date(timestamp);\n// Use date methods to get components like year, month, day, hours, etc.\nvar year = date.getFullYear();\nvar month = date.getMonth() + 1; // Months are zero-indexed, so we add 1\nvar day = date.getDate();\nvar hours = date.getHours();\nvar minutes = date.getMinutes();\nvar seconds = date.getSeconds();\n\n\n// Make a field \nmsg.Date = String(day) + \"/\" + String(month) + \"/\" + String(year);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 960,
        "wires": [
            [
                "26449bc94b39359f"
            ]
        ]
    },
    {
        "id": "26449bc94b39359f",
        "type": "mongodb out",
        "z": "c0d83d5b56c5e4a4",
        "mongodb": "3752afa1.deaf9",
        "name": "",
        "collection": "Sensors",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 580,
        "y": 960,
        "wires": []
    },
    {
        "id": "ae9f5f1273747ec2",
        "type": "mongodb out",
        "z": "c0d83d5b56c5e4a4",
        "mongodb": "3752afa1.deaf9",
        "name": "",
        "collection": "Sensors",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "delete",
        "x": 610,
        "y": 1580,
        "wires": []
    },
    {
        "id": "79e001f9d8b72a69",
        "type": "inject",
        "z": "c0d83d5b56c5e4a4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 390,
        "y": 1580,
        "wires": [
            [
                "ae9f5f1273747ec2"
            ]
        ]
    },
    {
        "id": "1d588e178b9627d5",
        "type": "mongodb in",
        "z": "c0d83d5b56c5e4a4",
        "mongodb": "3752afa1.deaf9",
        "name": "",
        "collection": "Sensors",
        "operation": "find",
        "x": 590,
        "y": 1760,
        "wires": [
            [
                "bade907282716f40"
            ]
        ]
    },
    {
        "id": "7c1b5fe09b4cb640",
        "type": "inject",
        "z": "c0d83d5b56c5e4a4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 390,
        "y": 1760,
        "wires": [
            [
                "1d588e178b9627d5"
            ]
        ]
    },
    {
        "id": "bade907282716f40",
        "type": "debug",
        "z": "c0d83d5b56c5e4a4",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 1760,
        "wires": []
    },
    {
        "id": "a2b2667e7e9a33cd",
        "type": "inject",
        "z": "c0d83d5b56c5e4a4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1030,
        "y": 740,
        "wires": [
            [
                "b181b28bea36c7c3"
            ]
        ]
    },
    {
        "id": "b181b28bea36c7c3",
        "type": "function",
        "z": "c0d83d5b56c5e4a4",
        "name": "map_data",
        "func": "msg.payload = { \"name\": \"home\", \"lat\": 36.7, \"lon\": -4.42, \"icon\": \"home\", \"iconColor\":\"#000000\",\"tooltip\": \"home\" }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 740,
        "wires": [
            [
                "34ecc408b945a1ec"
            ]
        ]
    },
    {
        "id": "fba2a1b48bfa3a33",
        "type": "function",
        "z": "c0d83d5b56c5e4a4",
        "name": "adapt",
        "func": "msg = msg.payload;\nvar timestamp = msg.Timestamp;\n// Create a new Date object\nvar date = new Date(timestamp);\n// Use date methods to get components like year, month, day, hours, etc.\nvar year = date.getFullYear();\nvar month = date.getMonth() + 1; // Months are zero-indexed, so we add 1\nvar day = date.getDate();\n\n// Make a field \n\nmsg.Date = String(day) + \"/\" + String(month) + \"/\" + String(year);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 460,
        "wires": [
            [
                "b5073cb3ceb52a17"
            ]
        ]
    },
    {
        "id": "8fe282dc79d64bf9",
        "type": "function",
        "z": "c0d83d5b56c5e4a4",
        "name": "status_msg",
        "func": "var tiempo = new Date();\nvar timestamp = tiempo.getDate();\nmsg.payload = {\n    \"Sender\":\"User\",\n    \"RoverId\":\"Actuator\",\n    \"Latitude\":\"51.2\",\n    \"Longitude\":\"-1.35\",\n    \"Timestamp\": 20000000032342,\n    \"Status\":\"Sample Overflow\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 1340,
        "wires": [
            [
                "f10f54f93f0621d4"
            ]
        ]
    },
    {
        "id": "08f7c4bd9223728a",
        "type": "inject",
        "z": "c0d83d5b56c5e4a4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 400,
        "y": 1340,
        "wires": [
            [
                "8fe282dc79d64bf9"
            ]
        ]
    },
    {
        "id": "f10f54f93f0621d4",
        "type": "mqtt out",
        "z": "c0d83d5b56c5e4a4",
        "name": "",
        "topic": "II15/Emergency",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8fc82196e3fa113b",
        "x": 940,
        "y": 1340,
        "wires": []
    },
    {
        "id": "c13226e71d2e4642",
        "type": "mqtt in",
        "z": "c0d83d5b56c5e4a4",
        "name": "",
        "topic": "II15/Commands",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8fc82196e3fa113b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 80,
        "wires": [
            [
                "7bacc2365fb4167a"
            ]
        ]
    },
    {
        "id": "9c6a7d0cec22e787",
        "type": "function",
        "z": "c0d83d5b56c5e4a4",
        "name": "command_msg",
        "func": "msg.payload = {\n    \"Priority\": \"1\",\n    \"Sender\":\"User\",\n    \"RoverId\":\"Actuator\",\n    \"Latitude\":\"51.2\",\n    \"Longitude\":\"-1.35\",\n    \"Timestamp\": 23041,\n    \"Status\":\"Task finished\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1300,
        "wires": [
            [
                "3976afb7b98cb391"
            ]
        ]
    },
    {
        "id": "64b16fc19fd767b8",
        "type": "inject",
        "z": "c0d83d5b56c5e4a4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 400,
        "y": 1300,
        "wires": [
            [
                "9c6a7d0cec22e787"
            ]
        ]
    },
    {
        "id": "3976afb7b98cb391",
        "type": "mqtt out",
        "z": "c0d83d5b56c5e4a4",
        "name": "",
        "topic": "II15/Commands",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8fc82196e3fa113b",
        "x": 940,
        "y": 1300,
        "wires": []
    },
    {
        "id": "4ff5652bbcb9af69",
        "type": "mongodb out",
        "z": "c0d83d5b56c5e4a4",
        "mongodb": "3752afa1.deaf9",
        "name": "",
        "collection": "Emergency",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "delete",
        "x": 620,
        "y": 1500,
        "wires": []
    },
    {
        "id": "9510a2fa4bba5bf5",
        "type": "inject",
        "z": "c0d83d5b56c5e4a4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 390,
        "y": 1500,
        "wires": [
            [
                "4ff5652bbcb9af69"
            ]
        ]
    },
    {
        "id": "31c41258b8aad036",
        "type": "mongodb out",
        "z": "c0d83d5b56c5e4a4",
        "mongodb": "3752afa1.deaf9",
        "name": "",
        "collection": "Commands",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "delete",
        "x": 610,
        "y": 1460,
        "wires": []
    },
    {
        "id": "0b9e07d453835b95",
        "type": "inject",
        "z": "c0d83d5b56c5e4a4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 390,
        "y": 1460,
        "wires": [
            [
                "31c41258b8aad036"
            ]
        ]
    },
    {
        "id": "a8d8a0f793147271",
        "type": "mongodb in",
        "z": "c0d83d5b56c5e4a4",
        "mongodb": "3752afa1.deaf9",
        "name": "",
        "collection": "Emergency",
        "operation": "find",
        "x": 600,
        "y": 1680,
        "wires": [
            [
                "ba7ec485d75e48f1"
            ]
        ]
    },
    {
        "id": "c40e804e68dadef9",
        "type": "inject",
        "z": "c0d83d5b56c5e4a4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 390,
        "y": 1680,
        "wires": [
            [
                "a8d8a0f793147271"
            ]
        ]
    },
    {
        "id": "ba7ec485d75e48f1",
        "type": "debug",
        "z": "c0d83d5b56c5e4a4",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 1680,
        "wires": []
    },
    {
        "id": "3ffdfeae1b119e63",
        "type": "mongodb in",
        "z": "c0d83d5b56c5e4a4",
        "mongodb": "3752afa1.deaf9",
        "name": "",
        "collection": "Commands",
        "operation": "find",
        "x": 590,
        "y": 1640,
        "wires": [
            [
                "092db928bed98d5a"
            ]
        ]
    },
    {
        "id": "38e6d3beabc241aa",
        "type": "inject",
        "z": "c0d83d5b56c5e4a4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 390,
        "y": 1640,
        "wires": [
            [
                "3ffdfeae1b119e63"
            ]
        ]
    },
    {
        "id": "092db928bed98d5a",
        "type": "debug",
        "z": "c0d83d5b56c5e4a4",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 1640,
        "wires": []
    },
    {
        "id": "10171dcbb4137f1f",
        "type": "ui_toast",
        "z": "c0d83d5b56c5e4a4",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "View emergencies",
        "raw": false,
        "className": "Error",
        "topic": "⚠ An emergency has occurred ⚠",
        "name": "Error",
        "x": 490,
        "y": 520,
        "wires": [
            [
                "eabc40158e4c7494"
            ]
        ]
    },
    {
        "id": "b5073cb3ceb52a17",
        "type": "mongodb out",
        "z": "c0d83d5b56c5e4a4",
        "mongodb": "3752afa1.deaf9",
        "name": "",
        "collection": "Emergency",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 530,
        "y": 460,
        "wires": []
    },
    {
        "id": "3dfa14d5d88dfb80",
        "type": "function",
        "z": "c0d83d5b56c5e4a4",
        "name": "error_msg",
        "func": "msg = msg.payload;\nmsg.payload = msg.Status;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 520,
        "wires": [
            [
                "10171dcbb4137f1f"
            ]
        ]
    },
    {
        "id": "48185f0eb0aa2e59",
        "type": "function",
        "z": "c0d83d5b56c5e4a4",
        "name": "emergency_query",
        "func": "var filterEmergency = flow.get(\"applyEmergency\");\nvar timestamp = flow.get(\"emergencyDate\");\n// Create a new Date object\nvar date = new Date(timestamp);\n// Use date methods to get components like year, month, day, hours, etc.\nvar year = date.getFullYear();\nvar month = date.getMonth() + 1; // Months are zero-indexed, so we add 1\nvar day = date.getDate();\n//var hours = date.getHours();\n//var minutes = date.getMinutes();\n//var seconds = date.getSeconds();\n// Make a field \nmsg.Date = String(day) + \"/\" + String(month) + \"/\" + String(year);\n\n\nif (filterEmergency) {\n    msg.payload = { \"Date\": msg.Date };\n        return msg;\n\n    \n}\nif (msg.payload || !filterEmergency ){\n    msg.payload = {};   \n    return msg;\n\n}\n\n\n\n\n\n    \n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 580,
        "wires": [
            [
                "b03455706654fa79"
            ]
        ]
    },
    {
        "id": "b03455706654fa79",
        "type": "mongodb in",
        "z": "c0d83d5b56c5e4a4",
        "mongodb": "3752afa1.deaf9",
        "name": "",
        "collection": "Emergency",
        "operation": "find",
        "x": 630,
        "y": 580,
        "wires": [
            [
                "6e038fcb6aa4f8a8"
            ]
        ]
    },
    {
        "id": "1ffe8f911a24c884",
        "type": "ui_table",
        "z": "c0d83d5b56c5e4a4",
        "group": "a985cb87b1c1ec1e",
        "name": "Emergency",
        "order": 1,
        "width": "10",
        "height": "10",
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 1090,
        "y": 580,
        "wires": []
    },
    {
        "id": "6e038fcb6aa4f8a8",
        "type": "function",
        "z": "c0d83d5b56c5e4a4",
        "name": "table_data",
        "func": "msg.payload.forEach(function (item) {\n    // Delete unwanted fields\n    delete item._id;\n    delete item._msgid;\n    delete item.Sender;\n    delete item.Timestamp;\n});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 580,
        "wires": [
            [
                "1ffe8f911a24c884"
            ]
        ]
    },
    {
        "id": "eabc40158e4c7494",
        "type": "function",
        "z": "c0d83d5b56c5e4a4",
        "name": "tab_changer",
        "func": "if (msg.payload = \"View all emergencies\") {\nmsg.payload = {\"tab\":\"Emergency\"}\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 520,
        "wires": [
            [
                "d0188dbdc54d0c97"
            ]
        ]
    },
    {
        "id": "d0188dbdc54d0c97",
        "type": "ui_ui_control",
        "z": "c0d83d5b56c5e4a4",
        "name": "",
        "events": "all",
        "x": 820,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "7bacc2365fb4167a",
        "type": "function",
        "z": "c0d83d5b56c5e4a4",
        "name": "adapt",
        "func": "msg = msg.payload;\nvar timestamp = msg.Timestamp;\n// Create a new Date object\nvar date = new Date(timestamp);\n// Use date methods to get components like year, month, day, hours, etc.\nvar year = date.getFullYear();\nvar month = date.getMonth() + 1; // Months are zero-indexed, so we add 1\nvar day = date.getDate();\n\n// Make a field \n\nmsg.Date = String(day)+\"/\"+String(month)+\"/\"+String(year);     \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 80,
        "wires": [
            [
                "b0c339375dd1aabe",
                "ca71b89c5867af24"
            ]
        ]
    },
    {
        "id": "b0c339375dd1aabe",
        "type": "mongodb out",
        "z": "c0d83d5b56c5e4a4",
        "mongodb": "3752afa1.deaf9",
        "name": "",
        "collection": "Commands",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 690,
        "y": 80,
        "wires": []
    },
    {
        "id": "f7dd7632c4e1b10d",
        "type": "function",
        "z": "c0d83d5b56c5e4a4",
        "name": "commands_query",
        "func": "var filterCommands = flow.get(\"applyCommands\");\n\nvar timestamp = flow.get(\"commandsDate\");\n\n// Create a new Date object\nvar date = new Date(timestamp);\n// Use date methods to get components like year, month, day, hours, etc.\nvar year = date.getFullYear();\nvar month = date.getMonth() + 1; // Months are zero-indexed, so we add 1\nvar day = date.getDate();\n//var hours = date.getHours();\n//var minutes = date.getMinutes();\n//var seconds = date.getSeconds();\n// Make a field \nmsg.Date = String(day) + \"/\" + String(month) + \"/\" + String(year);\n\n\nif (filterCommands) {\n    msg.payload = { \"Date\": msg.Date };\n    return msg;\n\n} \nif (msg.payload || !filterCommands) {\n\n    msg.payload = {};\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 160,
        "wires": [
            [
                "8579d3d5b868c549"
            ]
        ]
    },
    {
        "id": "8579d3d5b868c549",
        "type": "mongodb in",
        "z": "c0d83d5b56c5e4a4",
        "mongodb": "3752afa1.deaf9",
        "name": "",
        "collection": "Commands",
        "operation": "find",
        "x": 690,
        "y": 160,
        "wires": [
            [
                "f745bc0c33faf113"
            ]
        ]
    },
    {
        "id": "5422dccfa5d96b39",
        "type": "ui_table",
        "z": "c0d83d5b56c5e4a4",
        "group": "4b9319c68a3037b6",
        "name": "Commands",
        "order": 2,
        "width": "10",
        "height": "12",
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 1150,
        "y": 160,
        "wires": []
    },
    {
        "id": "f745bc0c33faf113",
        "type": "function",
        "z": "c0d83d5b56c5e4a4",
        "name": "table_data",
        "func": "msg.payload.forEach(function (item) {\n    // Delete unwanted fields\n    delete item._id;\n    delete item._msgid;\n});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 160,
        "wires": [
            [
                "5422dccfa5d96b39"
            ]
        ]
    },
    {
        "id": "ca71b89c5867af24",
        "type": "debug",
        "z": "c0d83d5b56c5e4a4",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 20,
        "wires": []
    },
    {
        "id": "fd7944966711366c",
        "type": "ui_switch",
        "z": "c0d83d5b56c5e4a4",
        "name": "",
        "label": "Apply Filters",
        "tooltip": "",
        "group": "a985cb87b1c1ec1e",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 150,
        "y": 700,
        "wires": [
            [
                "27970df4d41862c5",
                "7d97116e4b746728"
            ]
        ]
    },
    {
        "id": "870b6fc137f42f3d",
        "type": "ui_date_picker",
        "z": "c0d83d5b56c5e4a4",
        "name": "",
        "label": "date",
        "group": "9eaf520d8a23e190",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 170,
        "y": 640,
        "wires": [
            [
                "d87f362e68946b07"
            ]
        ]
    },
    {
        "id": "27970df4d41862c5",
        "type": "function",
        "z": "c0d83d5b56c5e4a4",
        "name": "show_filters",
        "func": "if(msg.payload){\n    msg.payload = {\"group\":{\"show\":[\"Emergency_Filters\"]}};\n}else{\n    msg.payload = {\"group\":{\"hide\":[\"Emergency_Filters\"]}};\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 700,
        "wires": [
            [
                "99cb274ddc0e2491"
            ]
        ]
    },
    {
        "id": "99cb274ddc0e2491",
        "type": "ui_ui_control",
        "z": "c0d83d5b56c5e4a4",
        "name": "",
        "events": "all",
        "x": 540,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "95105b920be35cf2",
        "type": "ui_switch",
        "z": "c0d83d5b56c5e4a4",
        "name": "",
        "label": "Apply Filters",
        "tooltip": "",
        "group": "4b9319c68a3037b6",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 150,
        "y": 300,
        "wires": [
            [
                "ac2b52185e0df386",
                "001ede772902c02c"
            ]
        ]
    },
    {
        "id": "e7b10d9a88eb44e7",
        "type": "ui_date_picker",
        "z": "c0d83d5b56c5e4a4",
        "name": "",
        "label": "date",
        "group": "cf20bfd785d9312b",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 170,
        "y": 240,
        "wires": [
            [
                "b43ce1873adc99a8"
            ]
        ]
    },
    {
        "id": "252516e831b8a64c",
        "type": "ui_switch",
        "z": "c0d83d5b56c5e4a4",
        "name": "",
        "label": "Apply Filters",
        "tooltip": "",
        "group": "4c2baad09a9733db",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 150,
        "y": 1140,
        "wires": [
            [
                "d59b1ae17d5cfe73",
                "db1720893097a6fe"
            ]
        ]
    },
    {
        "id": "d59b1ae17d5cfe73",
        "type": "function",
        "z": "c0d83d5b56c5e4a4",
        "name": "show_filters",
        "func": "if(msg.payload){\n    msg.payload = {\"group\":{\"show\":[\"Sensors_Filters\"]}};\n}else{\n    msg.payload = {\"group\":{\"hide\":[\"Sensors_Filters\"]}};\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 1140,
        "wires": [
            [
                "0163213869e57a9f"
            ]
        ]
    },
    {
        "id": "0163213869e57a9f",
        "type": "ui_ui_control",
        "z": "c0d83d5b56c5e4a4",
        "name": "",
        "events": "all",
        "x": 540,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "130837b1afd23e14",
        "type": "ui_table",
        "z": "c0d83d5b56c5e4a4",
        "group": "4c2baad09a9733db",
        "name": "Sensors",
        "order": 1,
        "width": "12",
        "height": "10",
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 1120,
        "y": 1020,
        "wires": []
    },
    {
        "id": "1cc8a83ddf39da73",
        "type": "function",
        "z": "c0d83d5b56c5e4a4",
        "name": "table_data",
        "func": "msg.payload.forEach(function (item) {\n    // Delete unwanted fields\n    delete item._id;\n    delete item._msgid;\n    delete item.Sender;\n    delete item.Timestamp;\n});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 1020,
        "wires": [
            [
                "130837b1afd23e14"
            ]
        ]
    },
    {
        "id": "bd71d2043eabaf83",
        "type": "ui_date_picker",
        "z": "c0d83d5b56c5e4a4",
        "name": "",
        "label": "date",
        "group": "2218f630d9569de0",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 170,
        "y": 1080,
        "wires": [
            [
                "072b5353c7c7ed22"
            ]
        ]
    },
    {
        "id": "001ede772902c02c",
        "type": "function",
        "z": "c0d83d5b56c5e4a4",
        "name": "show_filters",
        "func": "if(msg.payload){\n    msg.payload = {\"group\":{\"show\":[\"Commands_Filters\"]}};\n}else{\n    msg.payload = { \"group\": { \"hide\": [\"Commands_Filters\"]}};\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 300,
        "wires": [
            [
                "6f9dda3671e55308"
            ]
        ]
    },
    {
        "id": "6f9dda3671e55308",
        "type": "ui_ui_control",
        "z": "c0d83d5b56c5e4a4",
        "name": "",
        "events": "all",
        "x": 640,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "072b5353c7c7ed22",
        "type": "change",
        "z": "c0d83d5b56c5e4a4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "sensorsDate",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "b43ce1873adc99a8",
        "type": "change",
        "z": "c0d83d5b56c5e4a4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "commandsDate",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "7d97116e4b746728",
        "type": "change",
        "z": "c0d83d5b56c5e4a4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "applyEmergency",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "d87f362e68946b07",
        "type": "change",
        "z": "c0d83d5b56c5e4a4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "emergencyDate",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "00e2a555d829fe0d",
        "type": "inject",
        "z": "c0d83d5b56c5e4a4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 580,
        "wires": [
            [
                "48185f0eb0aa2e59"
            ]
        ]
    },
    {
        "id": "b86d685c60b4cced",
        "type": "inject",
        "z": "c0d83d5b56c5e4a4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "f7dd7632c4e1b10d"
            ]
        ]
    },
    {
        "id": "ac2b52185e0df386",
        "type": "change",
        "z": "c0d83d5b56c5e4a4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "applyCommands",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "13ebafe1105bc606",
        "type": "inject",
        "z": "c0d83d5b56c5e4a4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 1020,
        "wires": [
            [
                "98d4f3eca15b01f5"
            ]
        ]
    },
    {
        "id": "db1720893097a6fe",
        "type": "change",
        "z": "c0d83d5b56c5e4a4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "applySensors",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "8fc82196e3fa113b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d79fae3f4ed001ad",
        "type": "ui_group",
        "name": "Map",
        "tab": "f66e778ec46762ed",
        "order": 1,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3752afa1.deaf9",
        "type": "mongodb",
        "hostname": "iot.ac.uma.es",
        "connectOptions": "",
        "port": "27017",
        "db": "II15",
        "name": ""
    },
    {
        "id": "a985cb87b1c1ec1e",
        "type": "ui_group",
        "name": "List",
        "tab": "7f4b7d2cfe038661",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4b9319c68a3037b6",
        "type": "ui_group",
        "name": "Lists",
        "tab": "9ba315c07db0297f",
        "order": 1,
        "disp": true,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9eaf520d8a23e190",
        "type": "ui_group",
        "name": "Filters",
        "tab": "7f4b7d2cfe038661",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": "Filters"
    },
    {
        "id": "cf20bfd785d9312b",
        "type": "ui_group",
        "name": "Filters",
        "tab": "9ba315c07db0297f",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4c2baad09a9733db",
        "type": "ui_group",
        "name": "List",
        "tab": "94e4bbe69bea6361",
        "order": 1,
        "disp": true,
        "width": "17",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2218f630d9569de0",
        "type": "ui_group",
        "name": "Filters",
        "tab": "94e4bbe69bea6361",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": "Filters"
    },
    {
        "id": "f66e778ec46762ed",
        "type": "ui_tab",
        "name": "MiniRovers",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7f4b7d2cfe038661",
        "type": "ui_tab",
        "name": "Emergency",
        "icon": "warning",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9ba315c07db0297f",
        "type": "ui_tab",
        "name": "Commands",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "94e4bbe69bea6361",
        "type": "ui_tab",
        "name": "Sensors",
        "icon": "warning",
        "disabled": false,
        "hidden": false
    }
]
